.aboutBox {
    display: flex;
    justify-content: space-between;
}

.faqHeading {
    font-size: var(--h1);
}

.aboutDescription {
    max-width: 54.6875rem;
}

@media only screen and (max-width:820px) {
    .aboutContainer {
        display: flex;
        flex-direction: column;
    }

    .cardContainer {
        display: none;
    }
}

@media only screen and (max-width:600px) {
    .aboutContainer {
        display: flex;
        flex-direction: column;
    }

    .cardContainer {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .aboutTitle {
        font-size: 2rem;
    }

    .aboutDescription {
        font-size: 1rem;
    }
}

.aboutContainer {
    position: relative;
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space;
    align-items: center;
    color: #fff;
    text-align: left;
    background: linear-gradient(120deg, rgba(0, 0, 0, 0.8) 40%, rgba(45, 45, 45, 0.8) 100%);
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.6);
}

.aboutTitle {
    font-size: 2.5rem;
    font-weight: 700;
    color:  var(--n-green);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.aboutDescription {
    font-size: 1.2rem;
    line-height: 1.8;
    color: white;
    margin-bottom: 1rem;
}

.highlight {
    color: var(--n-green);
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.content {
    margin: auto;
    padding: 20px;
}

.content p {
    margin-top: 10px;
}
.aboutGraphic {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.turntableGraphic {
    width: 100%;
    max-width: 400px;
    animation: spin 10s linear infinite;
}
.aboutInteractive {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.interactiveTitle {
    font-size: 1.8rem;
    color: #fff;
    margin-bottom: 15px;
}

.moodButtons {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width:500px;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.moodButton {
    padding: 10px 20px;
    background-color: var(--n-green);
    color: black;
    border: 3px double dotted black;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.moodButton:hover {
    background-color: black;
    color:var(--n-green);
}

.moodDescription {
    color: white;
    font-size: 1.2rem;
    text-align: center;
}

.moodText {
    font-weight: bold;
    margin-top: 10px;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
