.aboutBox {
    display: flex;
    justify-content: space-between;
}

.faqHeading {
    font-size: var(--h1);
}

.aboutDescription {
    max-width: 54.6875rem;
}

@media only screen and (max-width:820px) {
    .aboutContainer {
        display: flex;
        flex-direction: column;
    }

    .cardContainer {
        display: none;
    }
}

@media only screen and (max-width:600px) {
    .aboutContainer {
        display: flex;
        flex-direction: column;
    }

    .cardContainer {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .aboutTitle {
        font-size: 2rem;
    }

    .aboutDescription {
        font-size: 1rem;
    }
}

.aboutContainer {
    position: relative;
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space;
    align-items: center;
    color: #fff;
    text-align: left;
    background: linear-gradient(120deg, rgba(0, 0, 0, 0.8) 40%, rgba(45, 45, 45, 0.8) 100%);
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.6);
}

.aboutTitle {
    font-size: 2.5rem;
    font-weight: 700;
    color:  var(--n-green);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.aboutDescription {
    font-size: 1.2rem;
    line-height: 1.8;
    color: white;
    margin-bottom: 1rem;
}

.highlight {
    color: var(--n-green);
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.content {
    margin: auto;
    padding: 20px;
}

.content p {
    margin-top: 10px;
}
.aboutGraphic {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.turntableGraphic {
    width: 100%;
    max-width: 400px;
    animation: spin 10s linear infinite;
}
.aboutInteractive {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.interactiveTitle {
    font-size: 1.8rem;
    color: #fff;
    margin-bottom: 15px;
}

.moodButtons {
    display: flex;                /* Use flexbox to align the buttons */
    flex-wrap: nowrap;             /* Prevent the buttons from wrapping to the next line */
    overflow-x: auto;             /* Enable horizontal scrolling when the content overflows */
    padding: 10px 0;              /* Add padding on top and bottom */
    gap: 15px;                    /* Space between the buttons */
    scrollbar-width: thin;        /* Style for Firefox scrollbar */
}

.moodButton {
    padding: 10px 20px;           /* Button padding */
    background-color: var(--n-green); /* Background color */
    color: white;                 /* Text color */
    border: none;                 /* Remove border */
    border-radius: 5px;           /* Rounded corners */
    cursor: pointer;             /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition for hover */
    white-space: nowrap;          /* Prevent button text from wrapping */
}

/* Hover effect for buttons */
.moodButton:hover {
    background-color: #1a9e77;    /* Darker background on hover */
}

/* Custom scrollbar styling for WebKit browsers */
.moodButtons::-webkit-scrollbar {
    height: 8px;                   /* Set the height of the scrollbar */
}

.moodButtons::-webkit-scrollbar-thumb {
    background-color: #888;        /* Scrollbar thumb color */
    border-radius: 10px;           /* Rounded corners for the scrollbar thumb */
}

.moodButtons::-webkit-scrollbar-thumb:hover {
    background-color: #555;        /* Darker thumb on hover */
}


.moodDescription {
    color: white;
    font-size: 1.2rem;
    text-align: center;
}

.moodText {
    font-weight: bold;
    margin-top: 10px;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
