

.playlists-container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

h1 {
    font-size: var(--h1);
    text-align: left;
    color: var(--white);
}

.my-masonry-grid {
    display: -webkit-box;
    /* Not needed if autoprefixing */
    display: -ms-flexbox;
    /* Not needed if autoprefixing */
    display: flex;
    /* gutter size offset */

    max-width: 80vw;
}

.my-masonry-grid_column {
    /* gutter size */
    background-clip: padding-box;
    max-width: 310px;
    margin: 0 2rem;
}

/* Style your items */
.my-masonry-grid_column>div {
    /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 30px;
}

@media screen and (max-width: 600px) {
    .my-masonry-grid {
        margin: 0
    }
}