.flex {
  display: flex;
}

.focus-container {
  flex-direction: column;
  align-items: center;
  animation: fadeInFocus 1s cubic-bezier(0.17, 0.67, 0, 1.02);
}

.focus-song {
  flex-direction: column;
}

.focus-image-link {
  justify-content: center;
  background-color: #555;

  width: 100%;

  height: 510px;
  border-radius: 32px 32px 0px 32px;

  overflow: hidden;

  object-fit: cover;
}

.focus-info {
  margin-top: 37px;

  display: flex;
  width: 100%;
  max-width: 100%;
  min-height: 233px;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;

  border-radius: 16px 16px 0px 16px;
  border: 4px solid var(--000000, #000);
  background: var(--353837, #353837);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.23);
}

.focus-item {
  padding-left: 1rem;
}

.focus-title {
  font-size: 2rem;

  color: var(--n-green);
}

.focus-wide {
  justify-content: space-between;
  padding-right: 2rem;
  align-items: center;
  padding-top: 0.2rem;
}

.focus-author {
  font-size: 1.3rem;
  font-weight: 900;
  margin: 0;
  padding: 0;
}

.focus-link {
  font-size: 1.5rem;
  margin: 0;
  background: var(--black);
  padding: 8px 32px;
  border-radius: 999px;

  text-decoration: none;
}

.focus-link:hover,
.focus-link:active {
  color: var(--n-green);
}

.focus-desc {
  margin-top: 0.6rem;
  font-size: 0.9rem;
  max-width: 100%;
  height: 70px;
  overflow-y: scroll;
}

.focus-desc > * {
  overflow-x: hidden;
}

.focus-desc::-webkit-scrollbar {
  width: 0.5rem;
  position: absolute;
  left: 0;
}

.focus-desc::-webkit-scrollbar-thumb {
  background-color: darkgray;
  border-radius: 10px;
}

.focus-desc::-webkit-scrollbar-track {
  background: transparent;
}

@media only screen and (max-width: 820px) {
  .focus-song {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  .focus-info {
    display: flex;
    padding: 16px;
    flex-direction: column;
    height: 300px;
  }

  .focus-desc {
    margin-top: 0.6rem;
    font-size: 0.9rem;
    width: 100%;
    word-wrap: break-word;
  }

  .focus-link {
    font-size: 1rem;
  }

  .focus-image-link {
    height: 200px;
  }
}

@media screen and (max-width: 600px) {
  .focus-song {
    justify-content: center;
    flex-direction: row;
    height: 100px;
  }

  .focus-image-link {
    height: auto;
    border-radius: 1rem 0 0 1rem;
  }

  .focus-info {
    margin-top: 0;
    max-width: 70%;
    min-width: 70%;
    max-height: 227px;
    gap: 0;
    height: auto;
    min-height: auto;
    padding: 0.2rem;
    margin: 0;
    flex-shrink: unset;
    border: none;
    border-radius: 0 1rem 1rem 0;
    overflow: hidden;
  }

  .focus-title {
    font-size: 1rem;
  }

  .focus-author {
    font-size: 0.8rem;
    overflow: hidden;
    white-space: nowrap;
    animation: move 25s linear infinite;
  }

  .focus-desc {
    display: none;
  }

  .focus-link {
    font-size: 0.8rem;
    padding: 0 1rem;
    align-self: flex-end;
    border-radius: 1rem 0 0 0;

    margin-top: auto;
  }
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

@keyframes fadeInFocus {
  0% {
    opacity: 0;
    transform: translateX(100%);
    filter: blur(1rem);
  }

  100% {
    transform: translateX(0);
    filter: blur(0);
  }
}
