.navBar {
    padding: 3.125rem 0 3.125rem 0;  
}

.navBarCategories {
    margin-left: 13.177vw;
    display: flex;
}

.appRouter {
    /* display: inline-block;
    text-decoration: none;
    color: var(--white);
    min-width: 7.813vw;
    margin-right: 1vw;
    margin-top: auto; */

    display: flex;
    align-items: center;
    background-color: var(--black);
    padding: 0.5rem 2rem;
    overflow: hidden;

    transition: cubic-bezier(.18,.69,.23,.99) 0.5s;
    transform: skew(-15deg);

    font-size: 24px;
}

.navLeft {
    border-radius: 10rem 0 0 10rem;
}

.navRight {
    border-radius: 0 10rem 10rem 0;
}

.nav {
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.appRouter:hover {
    color: var(--black);
    transform: scale(1.1) translateX(1rem);
    filter: drop-shadow(0 0 0.1rem var(--black));
    background-color: var(--n-green);
    transform: skew(-15deg) scale(1.2);
    z-index: 5;
}

.mobileNav {
    display: none;
}


.mobileNavTab {
    display: none;
} 

@media only screen and (max-width:600px) {
    .navBar {
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    .navBarCategories {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .appRouter {
        display: flex;
        align-items: center;
        background-color: var(--black);
        padding: 0.5rem 2rem;
        overflow: hidden;
    
        transition: cubic-bezier(.18,.69,.23,.99) 0.5s;
        transform: skew(0);
    
        font-size: 24px;
    }

    .appRouter:hover {
        transform: scale(0) translateX(0);
        transform: skew(0) scale(1);
    }

    .navLeft {
        border-radius: 0;
    }
    
    .navRight {
        border-radius: 0;
    }

    .mobileNav {
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 5;
        top: 0;
    }

    .mobileNavTab {
        display: flex;
        justify-content: end;
        margin: 1rem;
        background-color: var(--black)
    }

}

