.navBar {
    margin-bottom: 1.875rem;
    width: 100vw;
    height: 5rem;
    
    display: flex;
    justify-content:baseline;
    
}

.navBarCategories {
    display: flex;
    flex-direction: row;
    margin-left: 13.177vw;
}

.appRouter {
    display: inline-block;
    text-decoration: none;
    color: var(--white);
    min-width: 7.813vw;
    margin-right: 1vw;
    margin-top: auto;

    transition: cubic-bezier(.18,.69,.23,.99) 0.5s;
}

body .content {
    margin: 0 8.438vw;
    width: 100%;
}

.appRouter:hover {
    color: var(--n-green);
    transform: scale(1.1) translateX(1rem);
    filter: drop-shadow(0 0 0.1rem var(--black));
}


.main-container{
    display: flex;
    justify-content: space-between;
}

.left-container {
    height: 55rem;
    width: 35rem;
    
    overflow-y: scroll; /* Enables vertical scrolling */
    position: relative; /* Ensures correct positioning */
    direction: rtl; /* Switches content flow direction */

    background: linear-gradient(to bottom, transparent, #242424);
}

.left-container > * {
    direction: ltr; /* Resets content direction */
}

/* Custom scrollbar styling for WebKit browsers */
.left-container::-webkit-scrollbar {
    width: 0.5rem; /* Scrollbar width */
    position: absolute;
    left: 0; /* Ensures scrollbar appears on the left */
}

.left-container::-webkit-scrollbar-thumb {
    background-color: darkgray; /* Scrollbar color */
    border-radius: 10px; /* Rounded scrollbar */
}

.left-container::-webkit-scrollbar-track {
    background: transparent; /* Background of the track */
}


.right-container{
    width: 45rem;
}