@font-face {
  font-family: "SDK_US_Web";
  src: local("SDK_US_Web"),
    url('./assets/fonts/en-us.ttf')
}

:root {
  font-family: SDK_US_Web, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16pt;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --white: #FFFEFB;
  --black: #000000;
  --grey: #676364;
  --n-green: #E6FE5D;
  --red: #F70306;
  --d-grey: #353837;
}

h1 {
  font-size: 1.5rem;
}

body {
  margin: 8.438vw;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}