 body .content {
    margin: 0 8.438vw;
    width: 100%;
} 

.playlists-container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

h1 {
    font-size: var(--h1);
    text-align: left;
    color: var(--white);
}

.playlist-grid {
    padding-top:5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.playlist-item {
    background-color:#555;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 10px 8px var(--black);
}

.playlist-item:hover {
    color: var(--n-green);
    transition: cubic-bezier(.18,.69,.23,.99) 0.5s;
}

.playlist-image {
    width: 100%;
}

.playlist-details {
    padding: 10px;
}

.playlist-details p {
    font-size: 14px;
    color: #b3b3b3;
}
